.badge {
    padding: 0.2rem 0.4rem !important;
    border-radius: 5px !important;
	font-weight: 600 !important;
}

.badge-success {
	background-color: var(--green-200) !important;
	color: var(--green-500) !important;
}

.badge-warning {
	background-color: var(--yellow-100) !important;
	color: var(--yellow-700) !important;
}

.badge-danger {
	background-color: var(--red-100) !important;
	color: var(--red-700) !important;
}

.badge-info {
    background-color: var(--grey-400) !important;
}