.announcement-bar {
    background-color: var(--primary);
    color: white;
    padding: 6px;
    text-align: center;
    font-size: var(--p-400-font-size);
    font-weight: 500;

    a {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: 2px;

        &:hover {
            color: var(--grey-200);
        }
    }
}