.custom-navbar-item {
    font-size: 1.2rem;
    font-weight: 400;
}

.doc-title {
    color: var(--primary);
}

.emdash {
    margin: 0 1rem;
}

.doc-logo {
    color: unset;

    &:hover {
        color: unset;
        text-decoration: none;
    }
}

.doc-logo .highlighted {
    color: var(--primary);
    font-size: 1.3rem;
}