/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
	--primary-100: #fff1f4;
	--primary-200: #ffdfe4;
	--primary-400: #FFB3C1;
	--primary: #FF3668;
	--primary-600: #e0335e;

	--secondary: #40454F;

	--green-100: #e1ffe7;
	--green-200: #b7ffdd;
	--green-500: #198754;
	--green-700: #0D6E3D;
	
	--red-100: #ffe7ea;
	--red-200: #FEC7CC;
	--red-500: #DC3545;
	--red-700: #A71D2A;

	--orange-100: #FFE8D6;
	--orange-200: #FFB3A0;
	--orange-500: #FF6F20;
	--orange-700: #C75100;
	
	--yellow-100: #fff8e1;
	--yellow-200: #ffe8a3;
	--yellow-500: #e6ac00;
	--yellow-700: #b97e00;

	--blue-100: #eef4ff;
	--blue-200: #c2daff;
	--blue-500: #0071ea;
	--blue-700: #0056b3;

	--grey-100: #F2F2F2;
	--grey-200: #e4e4ef;
	--grey-300: #cecee0;
	--grey-400: #ABABBB;
	--grey-600: #787886;
	--grey-700: #535559;
	--grey-800: #353535;

	--annex-color: var(--grey-100);
	--annex-border-color: var(--grey-200);
	--border-radius: 10px;
	--table-padding: 8px;
	--annex-padding: 8px 15px;
	--object-padding-100: 0.1rem 0.4rem;
	--object-padding-400: 0.3rem 0.6rem;
	--code-block-background-color: rgb(15, 16, 24);

	--font-color-dark: var(--secondary);
	--font-color-semidark: #535559;
	--font-color-light: #787886;
	--h1-font-size: 2.2rem;
	--h2-font-size: 1.9rem;
	--h3-font-size: 1.7rem;
	--h4-font-size: 1.5rem;
	--h5-font-size: 1.3rem;
	--h6-font-size: 1.1rem;
	--p-font-size: 1rem;
	--p-400-font-size: 0.9rem;
	--p-300-font-size: 0.8rem;

	--line-100: 1px solid var(--grey-100);
	--line-200: 1px solid var(--grey-200);
	--line-400: 1px solid var(--grey-400);

    --ifm-color-primary: var(--primary-600);
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--doc-sidebar-width: 250px !important;

	--ifm-heading-font-weight: 500;
	--ifm-font-family-base: 'Poppins', sans-serif;
}

[data-theme='dark'] {
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

	--font-color-light: var(--grey-100);
	--font-color-semidark: var(--grey-200);
	--font-color-dark: var(--grey-300);

	.section-name {
		color: white;
	}

	.tabs-container {
		border: 0.1px solid var(--grey-100);
		border-radius: var(--border-radius) !important;
	}
}

body {
	color: var(--font-color-dark);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

h4 {
	font-size: var(--h4-font-size)
}

h5 {
	font-size: var(--h5-font-size);
}

h6 {
	font-size: var(--h6-font-size);
}

p, li {
	font-size: var(--p-font-size);
	font-weight: 400;
}

table {
	font-size: var(--p-font-size);
	background-color: transparent;

	tr {
		&:nth-child(2n) {
			background-color: transparent !important;
		}
	}

	td {
		padding: var(--table-padding);
	}

	td, tr {
		border: none;
	}
}

.menu {
	.menu__link {
		color: var(--font-color-semidark);
		font-weight: 400;
	}

	.menu__link--active {
		color: var(--font-color-dark);
		font-weight: 600;
	}
}

.pagination-nav__label {
	color: var(--font-color-dark);
}

nav {

	a {
		font-weight: 400 !important;
	}

	li {
		font-size: var(--p-400-font-size) !important;
	}

	.section-name {
		margin-top: 1rem;
		font-weight: 600;
		color: black;
		text-decoration: underline;
		text-decoration-thickness: 1.5px;
	}

	.menu__link {
		border-radius: var(--border-radius);
	}

	.menu__link--active {
		background-color: var(--primary-100) !important;
		color: var(--primary-600) !important;
		font-weight: 600 !important;
	}
}

.breadcrumbs {
	display: none;
}

.footer--dark {
	background-color: var(--secondary);
	color: white;

	a:hover {
		color: white !important;
	}
}

.tabs__item {
	font-weight: 500;
}

.tabs-code {

	border-radius: 0 !important;

	font-size: var(--p-400-font-size) !important;

	div {
		margin-top: 0 !important;
	}

	code {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		background-color: var(--code-block-background-color);
	}

	pre {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}

	.tabs {
		background-color: var(--code-block-background-color);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		border-bottom: 0.1px solid #80808069;
		color: var(--grey-300);

		li {
			font-size: var(--p-400-font-size);
		}
	}

	.token.keyword {
		color: #569cd6 !important;
	}

	.token.builtin {
		color: #4ec9b0 !important;
	}

	.token.string {
		color: #ce9178 !important
	}

	.token.plain {
		color: white !important;
	}

	.token.operator {
		color: #94a3b8 !important;
	}

	.token.number {
		color: #b5cea8 !important;
	}

	.token.punctuation {
		color: #d4d4d4 !important	
	}

	.token.property {
		color: #9cdcfe !important
	}
}

.pagination-nav {

	.pagination-nav__sublabel {
		display: none;
	}

	.pagination-nav__link--prev {
		.pagination-nav__label::before {
			content: "<";
			margin-right: 1rem;
		}
	}

	.pagination-nav__link--next {
		.pagination-nav__label::after {
			content: ">";
			margin-left: 1rem;
		}
	}
}

.responsive-container {
	display: flex;
	gap: 3rem;

	.text-container {
		flex: 1;
	}

	.code-container {
		flex: 1;
		max-width: 100%;
		overflow: auto;
	}
}

.docbox-row {
	display: flex;
	gap: 5rem;
	justify-content: left;
	align-items: stretch;
}

.docbox-row > * {
	flex: 1 1 0;
}


@media (max-width: 1200px) {
	.responsive-container {
		flex-direction: column;
		gap: 1rem;
	}
  
	.responsive-container > div:first-child {
		order: 2;
	}
  
	.responsive-container > div:last-child {
		order: 1;
	}

	.docbox-row {
		flex-direction: column;
		gap: 2rem;
	}
	.docbox-row > * {
		width: 100%;
	}
}
