.annex-container {

    background-color: var(--annex-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--annex-border-color);

    .annex {
        padding: var(--annex-padding);
    }

    .annex-header {
        text-transform: uppercase;
        font-weight: 600;
        font-size: var(--p-400-font-size);
        padding: var(--annex-padding);
        background-color: var(--annex-border-color);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    pre {
        padding: 0;
        margin: 0;
    }

    table {
        margin: 0;
    }
}


[data-theme='dark'] {
    .annex-container {
        background-color: unset;
    }

    .annex-header {
        color: var(--grey-800);
    }
}